@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}

/* :root {
    --main-bg-color: #043873;
    --second-bg-color: #023e8a;
    --text-color: #ededed;
    --main-color: #00abfo;
    #0055ff
    #043873  bg-color
} */

html {
    overflow-x: hidden;
    font-size: 62.5;
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(288deg, rgba(0, 85, 255, 1) 1.5%, rgba(4, 56, 115, 1) 91.6%); */
    /* background: #045073; */
    /* background: #043873; */

    color: #ededed;
}

a {
    text-decoration: none !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9% 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    transition: .3s;
}

.header.sticky {
    background: #00acf026;
}

.logo {
    font-size: 2.5rem;
    color: #ededed;
    font-weight: 600;
}


.navbar a {
    color: #ededed;
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

#menu-icon {
    font-size: 3.6rem;
    cursor: pointer;
    color: #ededed;
    display: none;
}


/* home */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    /* background: url(./images/main-img.png ) no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(./images/Home-img2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    color: #ededed;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .animate-text {
    position: relative;
    width: 29rem;
}

.home-content .animate-text h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #00abf0;
    background-image: linear-gradient(#00abf0,skyblue);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 5s linear infinite;
    animation-delay: 2s;
}
.home-content .animate-text h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid #00abf0;
    z-index: 1;
    animation: homeCursorText 5s linear infinite;
    animation-delay: 2s;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.home-content .animate-text h3::after{
    content: 'Learner';
    animation: text 20s infinite;
    animation-delay: 1s;
}
@keyframes text {
    25%{
        content: 'Front-End Developer';
    }
    50%{
        content: 'Back-End Developer';
    }
    75%{
        content: 'Mern Stack Developer';
    }
    100%{
        content: 'Java Programmer';
    }
}

.home-content p {
    width: 50rem;
    font-size: 1.5rem;
    margin: 1rem 0 2rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 27.5rem;
    height: 4rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #043873;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: #00abf0;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box .btn:nth-child(2):hover {
    color: #043873;
}

.btn-box .btn:nth-child(2)::before {
    background-color: #00abf0;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #043873;
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover:before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 2rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #043873;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* About  */

/* .about{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
    background: #043873;
}
.heading{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
} */

/* .about-img{
    position: relative;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    border-radius: 50%;
    width: 90%;
    border: .2rem solid #00abf0;
} */
.txt {
    color: #00abf0;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #043873;
    padding-bottom: 8rem;
    /* flex-wrap: wrap; */
}
.about-img {
    position: relative;
}
.aboutcontent h2 {
    text-align: left;
    line-height: 1.2;
}




.heading {
    text-align: center;
    font-size: 3rem;
}

.aboutcontent {
    display: flex;
    flex-direction: column;
    color: #ededed;
    margin-left: 2.5rem;
}



.aboutcontent h3 {
    font-size: 1.5rem;
}




.aboutcontent p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

.btns {
    width: 13rem;
}

.about-img .circlespin {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    border-radius: 50%;
    width: 110%;
    height: 108%;
    border-top: .2rem solid #043873;
    border-bottom: .2rem solid #043873;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
    animation: aboutSpinner 8s linear infinite ;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-item {
    padding-left: 0 !important;
}

.info-item p {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-item a {
    color: #ededed;
}

.info-item p span {
    font-weight: 600;
}

.info-item hr {
    width: 70%;
    margin-bottom: 0;
    border-top: solid 1px #ededed;
}
@media (max-width:800px) {
    .about{
        display: flex;
        flex-direction: column;
    }   
    .aboutcontent h2 {
        text-align: center;
    }
    .aboutcontent h3 {
        text-align: center;
    }
}








/* ****************** About end ********************* */

.journey {
    /* background: #043873; */
    background: #0c4f9b;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 3.5rem;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}



.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2rem;
    margin: 0 0 1rem 1.5rem;
}


.education-column .education-box {
    border-left: .2rem solid #00abf0;
}



.education-box .education-content {
    position: relative;
    padding-left: 1.5rem;
}

.education-content .content {
    position: relative;
    padding: 1rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    /* height: 7vw; */
    width: 30vw;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00acf026;
    z-index: 2;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1rem;
    color: #00abf0;
    padding-bottom: .5rem;
}

.container-journey {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin: 0;
    gap: 5vw;
    /* grid-gap: 100px; */
}

/* .bxs-calendar {
    padding-right: 10px;
} */

.education-content .content h3 {
    font-size: 1.5rem;
}

.education-content .content a {
    color: #ededed;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #00abf0;
    border-radius: 50%;
}

/******************** skills ************** */
.skills {
    min-height: auto;
    background: #043873;
    /* background: #0c4f9b; */
    /* background: rgb(37, 77, 197); */
    padding-bottom: 5rem;
    /* margin-bottom: 15rem; */
    padding-top: 6rem;
    height: 80%;
    flex-wrap: wrap;


}

.skills .skills-row1 {
    width: 40%;
    height: 80%;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 5rem;
}

.skills .skills-row {
    width: 20%;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width:1200px) {
    .skill-container {
        gap: 4rem;
    }

    .skills .skills-row1 {
        width: 80%;
    }

    .skills .skills-row {
        width: 34%;
    }
}

@media (max-width:550px) {
    .skill-container {
        gap: 3rem;
    }

    .skills .skills-row1 {
        width: 90%;
        /* padding-bottom: 2.5rem; */
    }

    .skills .skills-row {
        width: 35%;
    }
}


.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00acf026;
    z-index: 1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 0;
}

.skills-content .progress .space {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: ; */
    padding-top: 40px;
    /* margin: 0; */
    /* gap: 100px; */
    gap: 5rem;
}

.item2 h3 {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

.item3 h3 {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

.item2 .progress {
    padding: 1rem;
}

.item3 .progress {
    padding: 1rem;
}

.skills-content .progress .bar {
    height: 1.2rem;
    border-radius: .3rem;
    border: .2rem solid #00abf0;
    padding: .2rem;
    margin: 12.5px 0;
}

.skills-content .progress h3 span {
    color: #ededed;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .1rem;
    background: #00abf0;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 80%;
}

/* ******************** contact ************************* */
.contact {
    background: #043873;
    min-height: auto;
    padding-bottom: .8rem;
    padding-top: 7rem;
}

.contact form {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
    /* padding: 10px; */
}

.contact form .textarea-field textarea {
    padding-top: 10px;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: #ededed;
    background: transparent;
    border-radius: .5rem;
    border: .2rem solid #00abf0;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #ededed;
}

.contact form .textarea-field {
    position: relative;
    margin: .6rem 0 1rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box .btns {
    cursor: pointer;
}

.con-btn{
    margin-left: 40%;
}

.contact form .focus {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00acf026;
    border-radius: .5rem;
    z-index: 1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 9%;
    padding-bottom: .5rem;
    /* padding-bottom: 0; */
    /* background: #0b468a; */
    background: #0c4f9b;
    z-index: -5;
}

.footer-text p {
    font-size: 1.2rem;
}

.footer-iconTop {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    height: 2.5rem;
    z-index: 1;
    background: #00acf026;
    border: .18rem solid #00abf0;
    border-radius: 5rem;
    overflow: hidden;
}


.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: #00abf0;
    color: #00abf0;
    transition: .3s ease;
    overflow: hidden;
}
.footer-iconTop a:hover{
    color: #00abf0;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 1.8rem;
    color: #00abf0;
    transition: .5s;
}

.footer-iconTop:hover a i {
    color: white;
}

/* **************************** project ******************************* */
.project {
    padding-top: 6rem;
    /* background: #043873; */
    background: #0c4f9b;

}

.project h2 {
    margin-bottom: 2rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}
.portfolio-box {
    height: 16vw;
}
@media (max-width:990px){
    .portfolio-container{
        grid-template-columns: 1fr 1fr  ;
    }
    .project h2 {
        margin-bottom: 8rem;
    }
    .portfolio-box {
        height: 25vw !important;
    }
}


.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #00abf0;
    display: flex;
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .15), #00abf0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2rem;
}

.portfolio-layer p {
    color: white;
    font-size: 1rem;
    margin: .2rem 0 .8rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: #ededed;
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 1.5rem;
    color: #043873;
}

/* 

animation: forwards;
transition: 1s ease-in;
color: transparent;
background: linear-gradient(to right,  red 20%,rgb(37, 162, 239),yellow,green);
background-clip: text;
-webkit-background-clip: text; */






@media (max-width : 1200px) {
    html {
        font-size: 65%;
    }
}

@media (max-width : 990px) {
    .header {
        padding: 1.5rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width : 768px) {
    .header {
        background: #043873;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #00abf0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .1s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #043873;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .1s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .1s;
    }
}

@media (max-width : 520px) {
    html {
        font-size: 50%;
    }

    .home-content {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
    .contact form .input-box .input-field {
        width: 100%;
    }
    .con-btn{
        margin-left: 0;
    }
}

@media (max-width : 462px){
    .home-content h1 {
        font-size: 5.2rem;
    }
    .education{
        padding: 10rem 4% 5rem 5%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width:370) {
    .home{
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1{
        font-size: 5rem;
    }
}




/* KEYFRAME ANIMATION  */
@keyframes homeBgText {
    0%,10%,100%{
        background-position: -29rem 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,10%,100%{
        width: 0;
    }
    65%,78%,85%{
        width: 100%;
        opacity: 1;
    }
    75%,81%{
     opacity: 0;   
    }
}
@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
